<footer class="footer mt-auto py-3 ">
    <div class="container">
    <hr>
    <p> Above VAT Calculator for reference purpose only . You are using this website at your own risk. We
    are not
    responsible any loses. </p>
    Made with <img src="https://vat201.com/images/heart.svg" alt="heart" size width="15px" height="15px"> in UAE By <a href="https://madinadeals.com" target="_blank">Madina Deals</a> Team . Hosted on <a href="https://firebase.google.com" target="_blank">Firebase</a> . SSL and CDN by <a href="https://cloudflare.com" target="_blank">Cloudflare</a>.
    </div>
    </footer>